.container-fluid{
  background-color: brown;                            
color:aliceblue;

}
.navbar-text{
color:aliceblue;

}
#register{
  margin-left: 40rem;
  padding-top:0;
}
#loginbtn{
  border: none;
  margin: 8px 2px;
  padding: 2px 9px;
  border-radius: 12px;
  font-weight: bold;
}
#loginbtn:hover{
  background-color:burlywood;
}
#filterDropdown{
  margin-right: 4rem;
}
.heading{
  text-align: center;
  font-size:60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: inherit;
  font-weight: bold;
}

.col-md-4{
  justify-content: center;
}
#col-12{
  padding-top: 2rem;
  text-align: center;
}
.form-label{
font-weight: bold;
padding-top: 3rem;
padding-left: 1rem;
}
